{% assign talks = site.data.data.talks %}
{% if talks %}
<section class="section talks-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ talks.title }}
  </h2>

  {% if talks.intro %}
  <div class="intro">
    {{ talks.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <!-- REVIEWED -->
  <h4>International Conference (Reviewed)</h4>
  {% for talk in talks.international_talks %}
  <div class="item">
	<li>{{ talk.title }}</li>
	<div class="publication-authors">{{ talk.authors }}</div>
	<div class="publication-conference">{{ talk.conference }}</div>
	<div class="publication-status">{{ talk.type }}</div>
  </div><!--//item-->
  {% endfor %}

  
  <h4>Domestic Conference (Not Reviewed)</h4>
  {% for talk in talks.domestic_talks %}
  <div class="item">
	<li>{{ talk.title }}</li>
	<div class="publication-authors">{{ talk.authors }}</div>
	<div class="publication-conference">{{ talk.conference }}</div>
	<div class="publication-status">{{ talk.type }}</div>
  </div><!--//item-->
  {% endfor %}

  <h4>Others</h4>
  {% for talk in talks.domestic_workshops %}
  <div class="item">
	<li>{{ talk.title }}</li>
	<div class="publication-authors">{{ talk.authors }}</div>
	<div class="publication-conference">{{ talk.conference }}</div>
	<div class="publication-status">{{ talk.type }}</div>
  </div><!--//item-->
  {% endfor %}


  <!-- 
  {% for talk in talks.talks %}
  <div class="item">
    {% if talk.link %}
      <li><a href="{{ talk.link }}">{{ talk.title }}</a></li>
    {% else %}
      <li>{{ talk.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ talk.authors }}</div>
    <div class="publication-conference">{{ talk.conference }}</div>
  </div>
  {% endfor %} -->

</section><!--//section-->
{% endif %}
